build/
CMakeFiles/
.tmp
tmp/
logs
*.user
*.o
*.exe
*.wasm
src/**/*.png
src/*.dat
src/*.dat.gz
cmake-*

# For IntelliJ IDE
src/.idea
src/cmake-build-*

# For VS IDE
.vs/

# Omit external libraries
src/external
# Omit include replacements made for source analysis
src/includes
