name: ci
on:
  push:
    branches:
      - master
      - dev
      - ci_tests
  pull_request:
    branches:
      - master
      - dev

jobs:
  hybrid_linux_gcc:
    name: alpine-386-gcc-github on Linux Host
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: true

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
          submodules: true

      - name: Set up cache for ccache
        uses: actions/cache@v2
        with:
          path: ccache
          key: ccache-gcc-i386
          restore-keys: |
            ccache-gcc-
            ccache-

      - name: Build GCC
        uses: docker://noxworld/alpine-386-gcc-github

      - name: Prepare the binary
        run: |
          cp ./build/out /tmp/nox-linux

      - name: Upload the binary
        uses: actions/upload-artifact@v2
        with:
          name: nox-linux
          path: /tmp/nox-linux
        
  hybrid_linux_wasm:
    name: alpine-wasm-github on Linux Host
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: true

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
          submodules: true

      - name: Set up cache for emcache
        uses: actions/cache@v2
        with:
          path: emcache
          key: emcache-emsdk-wasm
          restore-keys: |
            emcache-emsdk-
            emcache-

      - name: Build WASM
        uses: docker://noxworld/alpine-wasm-github
          
  windows_native_hosted:
    name: MSVC on ${{ matrix.config.name }} Host
    runs-on: ${{ matrix.config.os }}
    strategy:
      fail-fast: true
      matrix:
        config:
          - {
            name: "WinServer 2019",
            os: windows-2019,
            vcpkg: {
              triplet: x86-windows,
              commitId: '6185aa76504a5025f36754324abf307cc776f3da',
              responseFile: 'vcpkg.txt'
            }
            }

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
          submodules: true

      - uses: lukka/get-cmake@latest

      - name: Restore artifacts, or run vcpkg, build and cache artifacts
        uses: lukka/run-vcpkg@v5
        id: runvcpkg
        with:
          vcpkgArguments: '@${{ github.workspace }}/${{ matrix.config.vcpkg.responseFile }}'
          vcpkgTriplet: '${{ matrix.config.vcpkg.triplet }}'
          vcpkgDirectory: '${{ github.workspace }}/vcpkg'
          vcpkgGitCommitId: '${{ matrix.config.vcpkg.commitId }}'

      - name: Run CMake+gmake
        uses: lukka/run-cmake@v3
        id: runcmake
        with:
          useVcpkgToolchainFile: true
          cmakeGenerator: 'VS16Win32'
          cmakeListsOrSettingsJson: 'CMakeListsTxtBasic'
          cmakeListsTxtPath: '${{ github.workspace }}/src/CMakeLists.txt'
          cmakeBuildType: 'Release'
          buildWithCMakeArgs: '--config Release'
          buildDirectory: '${{ runner.workspace }}/b/gmake/'

      - name: Prepare the binary
        run: |
          move ${{ runner.workspace }}\b\gmake\Release\out.exe ${{ runner.workspace }}\b\gmake\Release\nox.exe

      - name: Upload the binary
        uses: actions/upload-artifact@v2
        with:
           name: nox-win
           path: |
             ${{ runner.workspace }}\b\gmake\Release\*.exe
             ${{ runner.workspace }}\b\gmake\Release\*.dll
